[submodule "src/wikiextractor"]
	path = src/wikiextractor
	url = https://github.com/abhipec/wikiextractor
	branch = master
[submodule "utils/tagger"]
	path = utils/tagger
	url = https://github.com/glample/tagger
	branch = master
